@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rhap_container {
  margin-top: 1rem;;
  background-color:  rgb(31 41 55) !important;
  border: 3px solid rgb(148 163 184)!important;
  border-radius: 1rem !important;
}

.rhap_button-clear,
.rhap_time,
.rhap_main-controls-button,
.rhap_progress-bar,
.rhap_volume-bar,
.rhap_repeat-button {
  color: rgb(148 163 184)!important;
}

.rhap_button-clear {
  background-color: rgb(31 41 55) !important;
}

.rhap_progress-bar {
  background-color: rgb(148 163 184)!important;
}

.rhap_progress-filled {
  background-color: rgb(240 240 240)!important;
}

.rhap_progress-indicator{
  background-color: rgb(240 240 240)!important;
}

.rhap_volume-bar {
  background-color: rgb(148 163 184)!important;
}

.rhap_volume-indicator {
  background-color: rgb(148 163 184)!important;
}

.rhap_download-progress {
  background-color: rgb(200 200 200)!important;
}