@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.blur {
  animation: blur 2000ms, shake 0.2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes blur {
  0% { 
    filter: blur(0px) brightness(1); 
  }

  50% { 
    filter: blur(0.05rem) brightness(3) drop-shadow(1rem 1rem #2b76a4) drop-shadow(-1rem -1rem #592ba4); 
  }

  100% { 
    filter: blur(1rem) brightness(5);
  }
}


.shine {
  animation: shine 0.2s;
}

@keyframes shine{
  0% {
    filter: brightness(5);
  }
  100% {
    filter: brightness(1);
  }
}

.rhap_container {
  margin-top: 1rem;;
  background-color:  rgb(31 41 55) !important;
  border: 3px solid rgb(148 163 184)!important;
  border-radius: 1rem !important;
}

.rhap_button-clear,
.rhap_time,
.rhap_main-controls-button,
.rhap_progress-bar,
.rhap_volume-bar,
.rhap_repeat-button {
  color: rgb(148 163 184)!important;
}

.rhap_button-clear {
  background-color: rgb(31 41 55) !important;
}

.rhap_progress-bar {
  background-color: rgb(148 163 184)!important;
}

.rhap_progress-filled {
  background-color: rgb(240 240 240)!important;
}

.rhap_progress-indicator{
  background-color: rgb(240 240 240)!important;
}

.rhap_volume-bar {
  background-color: rgb(148 163 184)!important;
}

.rhap_volume-indicator {
  background-color: rgb(148 163 184)!important;
}

.rhap_download-progress {
  background-color: rgb(200 200 200)!important;
}